<div class="row">
  <div class="col-xs-12">
    <h1 align="center">
      待ち時間設定
    </h1>
    <div class="text-center">
      <input id="watingtime" type="number" value="<%= @waitingtime[0].value %>"  style="text-align:center; width:50px;" maxlength="5">分
    </div>
    <button id="watingtime_update" type="submit" class="btn btn-info pull-right">変更</button>
  </div>
</div>