<div class="content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-12 col-sm-6">
        <div class="small-box" style="height: 100px;">
          <a class="col-xs-12 btn btn-primary" href="/map" >
            <i class="fa fa-map" style="font-size:50px;"></i>
            <h4><span class="label label-white">行き先を探す<label></h4>
          </a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="small-box" style="height: 100px;">
          <a class="col-xs-12 btn btn-primary" href="/charging">
            <i class="fa fa-plug" style="font-size:50px;"></i>
            <h4><span class="label label-white">充電する<label></h4>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>