<table id="result-table" class="table table-striped table-bordered">
  <thead class="thead-inverse">
    <tr>
      <th class="col-xs-1">ID</th>
      <th class="col-xs-4">共通管理項目</th>
      <th class="col-xs-4">設定値</th>
      <th></th>
    </tr>
  </thead>
</table>
