<table id="result-table" class="table table-bordered">
  <thead class="thead-inverse">
    <tr>
      <th class="col-xs-2"></th>
      <th class="col-xs-4">時間管理種類</th>
      <th class="col-xs-4">時間設定値</th>
      <th class="col-xs-2"></th>
    </tr>
  </thead>
</table>