<%= render "common/header" %>
<aside class="main-sidebar">
  <section class="sidebar">
    <%= render "common/manage_sidebar" %>
  </section>
</aside>
<div class="content-wrapper">
  <section class="content">
    <%= render "common_edit/main" %>
  </section>
</div>

<%= javascript_include_tag "watingtime"%>