  <table id="result-table" class="table table-striped table-bordered">
    <thead class="thead-inverse">
      <tr>
        <th class="col-lg-1">供給者ID</th>
        <th class="col-lg-1">供給者名</th>
        <th class="col-lg-1">電源種別</th>
        <th class="col-lg-1">充電単価</th>
        <th class="col-lg-1">産地</th>
        <th class="col-lg-1">由来</th>
        <th class="col-lg-2">コメント①</th>
        <th class="col-lg-2">コメント②</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
  </table>
