<%= render "common/header" %>
<aside class="main-sidebar">
  <section class="sidebar">
    <%= render "common/manage_sidebar" %>
  </section>
</aside>
<div class="content-wrapper">
  <!-- Main content -->
  <section class="content container-fluid">
      <%= render "suppliers_edit/main" %>
  </section>
  <!-- /.content -->
</div>

<%= javascript_include_tag "suppliers_edit"%>
