<div class="col-xs-12">
  <div class="box box-success">
    <div class="box-body">
      <div class="media">
        <div class="media-left">
          <img src='<%= asset_path 'cat.png' %>' alt="" class="media-object" style="width: 80px;height: auto;border-radius: 4px;box-shadow: 0 1px 3px rgba(0,0,0,.15);">
        </div>
        <div class="media-body">
          <div class="clearfix">
            <h4 id="spot_name" style="margin-top: 0"></h4>
            <p style="margin-bottom: 0">
              <i class="fa fa-fw fa-car margin-r5"></i><span id="spot_type"></span>
            </p>
            <p style="margin-bottom: 0">
              <i class="fa fa-fw fa-phone margin-r5"></i><span id="spot_tel"></span>
            </p>
            <p style="margin-bottom: 0">
              <i class="fa fa-fw fa-map-marker margin-r5"></i><span id="spot_address"></span>
            </p>
            <p style="margin-bottom: 0">
              <i class="glyphicon glyphicon-time fa-fw margin-r5"></i><span id="spot_time"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="alert alert-danger">
    <h4 id="coupon_name"><i class="icon fa fa-ban"></i></h4>
    <h2 id="coupon_value"></h2>
    <p>有効期間 : <span id="coupon_start"></span> ～ <span id="coupon_end"></span></p>
  </div>
  <div class="box box-info">
    <div id="suplier_area" class="box-body" style="overflow: auto; height: 300px;">
    </div>
  </div>
</div>
<footer class="navbar navbar-default navbar-fixed-bottom">
  <div class="box box-primary" style="margin-bottom: 0px;">
    <div class="box-body">
      <h4 id="route_search" align="center">ここへ向かう</h4>
      <span id="spot_lat"></span>
      <span id="spot_lon"></span>
    </div>
  </div>
</footer>
