<%= render "top/header" %>
<section class="content-header">
  <h1>
    自己紹介
  </h1>
</section>
<section class="content">
  <div class="row">
      <%= render "detail/main" %>
  </div>
</section>


<%= javascript_include_tag "detail"%>
<%= stylesheet_link_tag "common", :media => "all" %>