container_commands:
  01_reload_nginx:
    command: "service nginx reload"

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/20_customize_nginx.sh":
    mode: "000644"
    owner: root
    group: root
    content: |
      #!/bin/bash -eu
      echo "client_max_body_size 10m;" > /etc/nginx/conf.d/client-max-body-size.conf
      service nginx reload
