<table id="result-table" class="table table-bordered">
  <thead class="thead-inverse">
    <tr>
      <th class="col-lg-1">クーポン<br/>ID</th>
      <th class="col-lg-2">タイトル</th>
      <th class="col-lg-4">メッセージ</th>
      <th class="col-lg-1">使用<br/>開始日</th>
      <th class="col-lg-1">使用<br/>終了日</th>
      <th class="col-lg-1"></th>
      <th class="col-lg-1"></th>
    </tr>
  </thead>
</table>
