<table id="result-table" class="table table-bordered">
  <thead class="thead-inverse">
    <tr>
      <th class="col-lg-1 col-md-1 col-xs-1" style="white-space: nowrap;">SPOT ID</th>
      <th class="col-lg-1 col-md-1 col-xs-1" style="white-space: nowrap;">SPOT名</th>
      <th class="col-lg-1 col-md-1 col-xs-1" style="white-space: nowrap;">緯度(lat)</th>
      <th class="col-lg-1 col-md-1 col-xs-1" style="white-space: nowrap;">経度(lon)</th>
      <th class="col-lg-1 col-md-1 col-xs-1" style="white-space: nowrap;">クーポンID</th>
      <th class="col-lg-1 col-md-1 col-xs-1" style="white-space: nowrap;">供給者ID</th>
      <th class="col-lg-1 col-md-1 col-xs-1" style="white-space: nowrap;">SPOT詳細ID</th>
      <th class="col-lg-1 col-md-1 col-xs-1" style="white-space: nowrap;">地図確認</th>
      <th class="col-lg-1 col-md-1 col-xs-1" style="white-space: nowrap; width:120px;">住所</th>
      <th class="col-lg-1 col-md-1 col-xs-1" style="white-space: nowrap;">営業時間(週)</th>
      <th class="col-lg-1 col-md-1 col-xs-1" style="white-space: nowrap;">営業時間(土)</th>
      <th class="col-lg-1 col-md-1 col-xs-1" style="white-space: nowrap;">営業時間(日)</th>
      <th class="col-lg-1 col-md-1 col-xs-1" style="white-space: nowrap;">営業時間(祝)</th>
      <th class="col-lg-1 col-md-1 col-xs-1" style="white-space: nowrap;">休業日</th>
      <th class="col-lg-1 col-md-1 col-xs-1" style="white-space: nowrap; width:80px;">電話</th>
      <th class="col-lg-1 col-md-1 col-xs-1" style="white-space: nowrap;">コメント</th>
      <th class="col-lg-1 col-md-1 col-xs-1" style="white-space: nowrap;">充電器情報1</th>
      <th class="col-lg-1 col-md-1 col-xs-1" style="white-space: nowrap;">充電器情報2</th>
      <th class="col-lg-1 col-md-1 col-xs-1" style="white-space: nowrap;">充電器情報3</th>
      <th class="col-lg-1 col-md-1 col-xs-1" style="white-space: nowrap;">付帯設備</th>
      <th class="col-lg-1 col-md-1 col-xs-1" style="white-space: nowrap;">充電タイプ</th>
      <th class="col-lg-1 col-md-1 col-xs-1" style="white-space: nowrap;">付帯設備2</th>
      <th class="col-lg-1 col-md-1 col-xs-1" style="white-space: nowrap;">近隣観光SPOT</th>
      <th class="col-lg-1 col-md-1 col-xs-1" style="white-space: nowrap;">サービス情報</th>
      <th class="col-lg-1 col-md-1 col-xs-1" style="white-space: nowrap;">混雑時間帯</th>
      <th class="col-lg-1 col-md-1 col-xs-1"></th>
      <th class="col-lg-1 col-md-1 col-xs-1"></th>
    </tr>
  </thead>
</table>
