<div class="content" style="width: 100%;">
  <div class="col-xs-12">
    <div class="box box-success">
      <div class="box-header">
        <h2 class="box-title">ようこそ user さん</h2>
      </div>

      <!-- 充電予約開始画面 -->
      <% if params[:reservation] == 'on' %>
        <%= render "charge_welcome/reservationStart" %>
      <!-- 充電予約中画面 -->
      <% elsif get_reserve_remaining_minute != 0 %>
        <%= render "charge_welcome/reservation" %>
      <!-- 充電開始画面 -->
      <% else %>
        <%= render "charge_welcome/chargeStart" %>
      <% end %>

    </div>
  </div>
</div>


