<div class="box-body">
  <div class="col-xs-12" style="padding-top:10px;">
    <h4 style="font-weight: bold; margin-top: 0px; margin-bottom: 5px; padding-bottom: 5px; text-align: left; border-bottom: 1px solid #10af9e;">
        充電スポット
      </h4>
  </div>

  <div class="col-xs-12">
    <p><h4><%= @spot_name %></h4></p>
    <p class="pull-right">の充電スタンドです。</p>
  </div>

  <div class="col-xs-12" style="padding-top:5px;">
    <center>
    <a class="btn btn-app btn-block" style="font-size: x-large; height: 90px; border-radius: 10px; margin-left: 0px; background: lightcyan;">
      <i class="fa fa-thumbs-up" style="font-size: 35px;"></i>
      <label class="text-center" style="font-size: 20px">認証が完了しました。</label>
    </a>
    </center>
  </div>

  <div class="col-xs-12" style="padding-top:10px;">
    <% if reserving? %>
      <div class="alert alert-success text-center reservationMessge">予約が完了しました。</div>
    <% else %>
      <div class="alert alert-info alert-dismissible reservationinfo" style="border-radius: 15px;">
        <h4><i class="icon fa fa-info"></i> 順番予約が可能です。</h4>
        <p><b>1人待ち</b></p>
      </div>
    <% end %>
  </div>
</div>
<div class="box-footer">
  <a href="/" class="btn btn-default btn-sm cancelBtn col-xs-6">キャンセル</a>
  <% if reserving? %>
    <a id="nextPage" href="<%= supplier_path %>" class="btn btn-info btn-sm col-xs-6">
      <i class="fa fa-users" ></i> 次へ
    </a>
  <% else %>
    <a id="reservation" class="btn btn-info btn-sm order_reservation  col-xs-6">
      <i class="fa fa-users" ></i> 順番予約
    </a>
  <% end %>
</div>
