<div class="content" style="width: 100%;">
  <div class="container-fluid">
    <div class="col-xs-12 col-sm-6">
      <div class="small-box">
        <a class="btn btn-block btn-primary" href="http://c-ihighway.jp/smp/map/map_tokai.html">
          <h4>
            <div class="pull-left"><i class="fa fa-car"></i></div>
            <label class="label label-white">渋滞情報<label>
          </h4>
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="small-box">
        <a class="btn btn-block btn-primary" href="https://www.youtube.com/">
          <h4>
            <div class="pull-left"><i class="fa fa-play-circle"></i></div>
            <label class="label label-white">ムービー<label>
          </h4>
        </a>
      </div>
    </div>
  </div>
</div>