


<table id="result-table" class="table table-bordered">
  <thead class="thead-inverse">
    <tr>
      <th class="col-lg-1">ID</th>
      <th class="col-lg-2">日付</th>
      <th class="col-lg-3">ユーザ名</th>
      <th class="col-lg-1">スクリーン</th>
      <th class="col-lg-2">アクション</th>
      <th class="col-lg-3">パラメータ</th>
    </tr>
  </thead>
</table>