<div class="row">
  <div class="col-xs-12">
    <div class="box box-info">
      <div class="box-body">
        <div id="info_message" class="callout callout-info" style="display: none;"></div>
        <div id="warning_message" class="callout callout-warning" style="display: none;"></div>
        <form role="form" id="power_supply_types_edit_form">
          <div class="box-body">
            <div class="row">
              <div class="form-group col-lg-4 col-md-4 col-xs-12">
                <label>電源種別ID</label>
                <input type="text" class="form-control power_supply_types_id">
              </div>
              <div class="form-group col-lg-8 col-md-8 col-xs-12">
                <label>電源種別名</label>
                <input type="text" class="form-control power_supply_types_name">
              </div>
            </div>
            <div class="btn-group pull-right">
              <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-ok"></span>
              </button>
              <button type="reset" class="btn btn-default">クリア</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="box box-info">
        <%= javascript_tag do %>
          window.data = <%= raw @power_supply_types.to_json %>;

        <% end %>

        <div class="box-header with-border">
            <p>電源種別一覧</p>
        </div>
        <div class="box-body table-responsive no-padding">
            <%= render "power_supply_types_edit/result" %>
        </div>
    </div>
  </div>
</div>
