<table id="result-table" class="table table-bordered">
  <thead class="thead-inverse">
    <tr>
      <th class="col-lg-2 col-md-2 col-xs-2">電源種別ID</th>
      <th class="col-lg-8 col-md-8 col-xs-8">電源種別名</th>
      <th class="col-lg-1 col-md-1 col-xs-1"></th>
      <th class="col-lg-1 col-md-1 col-xs-1"></th>
    </tr>
  </thead>
</table>
