<header class="main-header">
  <a href="/login" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">これから<b>EV</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">これから<b>EV</b>ドライブ（仮）</span>
  </a>
  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">

      </ul>
    </div>
  </nav>
</header>