<div class="login-box">

  <div class="login-logo">
    <a href="/">これから<b>EV</b>ドライブ(仮)</a>
  </div>

  <div class="login-box-body">
    <h4><p class="login-box-msg">会員登録</p></h4>
    <div class="alert alert-danger errorMassage" id="err_msg" style="display: none;"> 登録に失敗しました</div>
    <div class="row">
      <div class="col-xs-12">
        <div id="idVal" class="form-group has-feedback">
          <input id="emailInput" type="text" class="form-control form-group has-feedback" name="id" placeholder="Email" required>
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div id="pwdVal" class="form-group has-feedback">
          <input id="passwordInput" type="password" class="form-control form-group has-feedback" name="password" placeholder="パスワード" required>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <button id="memberregister" type="button" class="btn btn-lg btn-primary btn-block btn-flat">登録</button>
        </div>
      </div>
    </div>
  </div>
</div>
