<div class="content" style="width: 100%;">
  <div class="col-xs-12">
    <div class="box box-success">
      <div class="box-header">
        <h2 class="box-title">充電spot認証</h2>
      </div>
      <div class="box-body">
        <div id="video-input">
          <div style="text-align: center">
              充電スタンドに添付されているQRコードを読み込み
              個人認証を行います
              <video id="video" style="width: 80%; height: auto;" autoplay="" playsinline=""></video>
          </div>
          <img id="img">
          <div style="display: none">
              <canvas id="canvas"></canvas>
          </div>
          <div>
              <button type="button"  class="btn btn-block btn-default btn-sm"  id="changeCamera">前面／背面 切り替え</button>
          </div>
          <!-- <div style="margin-top: 3em">
              <p style="font-weight: bold; margin-bottom: 5px">アクティブなカメラ</p>
              <p id="active-camera" style="margin-top: 5px"></p>
          </div> -->
        </div>
        <div id="photo-input" style="display: none">
          <div style="text-align: center">
              充電スタンドに添付されているQRコードを読み込み
              個人認証を行います
              <label for="input-qr" class="btn btn-block btn-primary btn-lg">QRコードを読み取る</label>
              <input type="file" id="input-qr" accept="image/*" capture="environment" tabindex="-1" style="display: none" onchange="openQRCamera(this);">
              <input type="hidden" id="qr">
          </div>
        </div>
        <div style="margin-top: 1em">
          <button type="button" class="btn btn-block btn-default btn-sm" id="toCamera">通常カメラでの読み取りに切り替え</button>
          <button type="button" class="btn btn-block btn-default btn-sm" id="toMovie" style="display: none">ビデオカメラでの読み取りに切り替え</button>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <a type="button" class="btn text-gray" href="/charge_authenticate?spot_id=<%= @spot_id %>">〇</a>
    </div>
    <div class="col-xs-12">
      <a type="button" class="btn text-info" href="/charge_welcome?spot_id=<%= @spot_id %>&reservation=on">〇</a>
    </div>
  </div>
</div>
