<div class="content">
  <div class="container-fluid">
    <div class="col-xs-12 col-sm-6">
      <div class="small-box">
        <a class="btn btn-block btn-primary" href="/power_supply_types" >
          <h4>
            <div class="pull-left"><i class="fa fa-bolt"></i></div>
            <label class="label label-white">電気を選ぶ<label>
          </h4>
        </a>
        <input type="hidden" id="charging_id" value="choice">
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="small-box btn btn-block btn-primary">
        <h4>
          <div class="pull-left"><i class="fa fa-qrcode"></i></div>
          <label class="label label-white">認証する<label>
        </h4>
        <input type="hidden" id="charging_id" value="qr">
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="small-box btn btn-block btn-primary">
        <h4>
          <div class="pull-left"><i class="fa fa-map-marker"></i></div>
          <label class="label label-white">スポット情報<label>
        </h4>
        <input type="hidden" id="charging_id" value="spot_info">
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="small-box">
        <a class="btn btn-block btn-primary" href="https://www.nippon-juden.co.jp/" >
          <h4>
            <div class="pull-left"><i class="fa fa-map"></i></div>
            <label class="label label-white">その他サービス（NCSサイト）<label>
          </h4>
        </a>
        <input type="hidden" id="charging_id" value="other">
      </div>
    </div>
    <div class="col-xs-12 col-sm-6" id="result"></div>
  </div>
</div>
