<div class="alert alert-info alert-dismissible" id="messageFade" style="display: none; position: absolute; top: 150px; left: 50px; Opacity: 0.85;">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  いいね！が届きました。
</div>