<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">

        <div class="info-box">
          <a href="/supplier?power_supply_type_id=0">
            <span class="info-box-icon bg-green"><i class="far fa-sun"></i></span>
            <div class="info-box-content">
              <label class="info-box-text"><h4>クリーンエネルギー</h4></label>
            </div>
          </a>
        </div>

        <div class="info-box">
          <a href="/supplier?power_supply_type_id=1">
            <span class="info-box-icon bg-grey"><i class="fa fa-industry"></i></span>
            <div class="info-box-content">
              <span class="info-box-text"><h4>レガシーエネルギー</h4></span>
            </div>
          </a>
        </div>

        <div class="info-box">
          <a href="/supplier?power_supply_type_id=2">
            <span class="info-box-icon bg-yellow"><img src='<%= asset_path 'ske.png' %>' alt=""></span>
            <div class="info-box-content">
              <span class="info-box-text"><h4>その他のエネルギー</h4></span>
            </div>
          </a>
        </div>

      </div>
    </div>

  </div>
</div>
