<div class="modal fade" id="appointCheckModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">予約確認</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered " align="center">
          <tbody>
              <tr>
                <td>18:00 - 18:40</td>
                <td class="h4 text-center"><span>〇</span></td>
              </tr>
              <tr>
                <td>18:40 - 19:20</td>
                <td class="h4 text-center"><span>×</span></td>
              </tr>
              <tr>
                <td>19:20 - 20:00</td>
                <td class="h4 text-center"><span>予</span></td>
              </tr>
              <tr>
                <td>20:00 - 20:40</td>
                <td class="h4 text-center"><span>〇</span></td>
              </tr>
              <tr>
                <td>20:40 - 21:20</td>
                <td class="h4 text-center"><span>〇</span></td>
              </tr>
              <tr>
                <td>21:20 - 22:00</td>
                <td class="h4 text-center"><span>〇</span></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
