<li class="dropdown user user-menu">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <i class="far fa-address-card fa-large fa-white"></i>
    <span class="">user</span>
  </a>
  <ul class="dropdown-menu">
    <!-- User image -->
    <!--<li class="user-header">
      <i class="far fa-address-card fa-4x fa-white"></i>
    </li>-->
    <!-- Menu Body-->
    <li class="user-body">
      <p>
        <% if get_supplier_name != '我が家の電気' %>
          Selected
        <% else %>
          Default
        <% end %>
      </p>
      <div class="row row-height">
        <div class="col-xs-12 text-center">
          <b><%= get_supplier_name %></b>
        </div>
      </div>
      <p>Battery status</p>
      <div class="row row-height">
        <div class="col-xs-6 text-center">
          <i class="fas fa-battery-full fa-5x"></i>
        </div>
        <div class="col-xs-6 text-center">
          <b style="font-size: 40px;">100%</b>
        </div>
      </div>
    </li>
    <!-- Menu Footer-->
    <li class="user-footer">
      <div class="pull-left">
        <a href="/charge_history" class="btn btn-default btn-flat">履歴</a>
      </div>
    </li>
  </ul>
</li>