
<div class="modal fade" id="pointModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">ポイントについて</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item">
            他のユーザーから「いいね！」をいただくと、「いいね」に１ポイント加算されます。
          </li>
          <li class="list-group-item">
            50ポイントに到達すると次回の給電が無料になります！！
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
