<li id="reservationDropdown" class="dropdown user user-menu" <% unless session[:time_reservation_spot_id].present? %> style="display:none;" <% end %>>
  <a id="specifiedReservationStatus" data-toggle="modal" data-target="#appointCheckModal" data-backdrop="true">
    <img src='<%=asset_path "specified_reservation.png" %>' alt="..." height="15" width="20" style="margin-right: 3px;">
  </a>
</li>