<li class="dropdown user user-menu">
  <a href="#" id="specifiedReservationStatus" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <img src='<%=asset_path "specified_reservation.png" %>' alt="..." height="15" width="20" style="margin-right: 3px;">
  </a>
  <ul class="dropdown-menu">
    <li class="user-body">
      <div class="row row-height">
        <div class="col-xs-12">
          <b>
            <p>中日本高速道路(株) NEXCO中日本 </p>
            <p>名神高速道路 養老SA (下り)で予約中</p>
          </b>
        </div>
      </div>
    </li>
    <a class="btn btn-default btn-flat btn-block" data-toggle="modal" data-target="#appointCheckModal" data-backdrop="true">詳細</a>
  </ul>
</li>