<aside id="sidebar" class="main-sidebar" style="padding-top: 0px;">
  <section class="sidebar">
    <div class="user-panel" style="height:50px;">
      <center>
        <a href="/">これから<b>EV</b>ドライブ(仮)</a>
      </center>
    </div>

    <!-- <div class="bg-primary sidebar-form" >
      <button id="research" class="btn-primary form-control">再検索<i class="fa fa-search pull-right" style="padding-top: 3px;"></i></button>
    </div>

    <ul class="sidebar-menu tree" data-widget="tree" style="color:white;">
      <li class="header">MAIN</li>

      <li class="treeview">
        <a href="#">
        <i class="fa fa-edit"></i> <span>経路</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
        </a>
        <ul class="treeview-menu">
          <div class="container-fluid">
            <div class="row" style="margin-top:5px; margin-bottom:10px;">
              <div class="col-xs-12">
                <div class="input-group">
                  <label for="route_departure">出発地</label>
                  <input id="route_departure" type="text" name="q" class="form-control" style="background-color:white;">
                </div>

                <div class="input-group">
                  <label for="route_destination">目的地</label>
                  <input id="route_destination" type="text" name="q" class="form-control" style="background-color:white;">
                </div>

                <div class="input-group">
                  <label for="route_via">経由地</label>
                  <input id="route_via" type="text" name="q" class="form-control" style="background-color:white;">
                </div>
              </div>
            </div>
          </div>
        </ul>
      </li>

      <li class="treeview">
        <a href="#">
        <i class="fa fa-cog"></i> <span>オプション</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a>高速道路を使わない
              <div class="pull-right">
                <input id="option1" name="routeoption" type="checkbox" class="minimal" data-toggle="toggle" data-size="mini">
              </div>
            </a>
          </li>
          <li>
            <a>有料道路を使わない
              <div class="pull-right">
                <input id="option2" name="routeoption" type="checkbox" class="minimal" data-toggle="toggle" data-size="mini">
              </div>
            </a>
          </li>
          <li>
            <a>フェリーを使わない
              <div class="pull-right">
                <input id="option3" name="routeoption" type="checkbox" class="minimal" data-toggle="toggle" data-size="mini">
              </div>
            </a>
          </li>
        </ul>
      </li>
    </ul> -->
  </section>
</aside>