<aside id="sidebar" class="main-sidebar" style="padding-top: 0px;">
  <section class="sidebar">
    <div class="user-panel">
      <center>
        <a href="/">TOPへ<!-- これから<b>EV</b>ドライブ(仮) --></a>
      </center>
    </div>

        <div class="bg-primary sidebar-form">
          <input id="destination_text" type="text" class="form-control" placeholder="目的地">
        </div>

        <div class="bg-primary sidebar-form">
          <button id="destination_search" class="btn-primary form-control">
            ルート検索
            <i class="fa fa-search pull-right" style="padding-top: 3px;"></i>
          </button>
        </div>

    <form id="spot_search_form" action="#" method="post">
      <ul class="sidebar-menu tree" data-widget="tree">
        <li>
          <a>自然エネルギー
            <div class="pull-right">
              <input name="natural_energy" class="pull-right" type="checkbox" data-toggle="toggle" data-size="mini">
            </div>
          </a>
        </li>
        <li>
          <a>クーポン
            <div class="pull-right">
              <input name="coupon" class="pull-right" type="checkbox" data-toggle="toggle" data-size="mini">
            </div>
          </a>
        </li>
        <li>
          <a>急速充電
            <div class="pull-right">
              <input name="rapid_charge" class="pull-right" type="checkbox" data-toggle="toggle" data-size="mini">
            </div>
          </a>
        </li>
        <li>

        <li class="treeview">
            <a href="#">
              <i class="fa fa-cog"></i>
              <span>その他の条件</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li>
                <a>トイレ
                  <div class="pull-right">
                    <input name="toilet" class="pull-right" type="checkbox" data-toggle="toggle" data-size="mini">
                  </div>
                </a>
              </li>
              <li>
                <a>喫煙所
                  <div class="pull-right">
                    <input name="smoking_area" class="pull-right" type="checkbox" data-toggle="toggle" data-size="mini">
                  </div>
                </a>
              </li>
              <li>
                <a>普通充電
                  <div class="pull-right">
                    <input name="normal_charge" class="pull-right" type="checkbox" data-toggle="toggle" data-size="mini">
                  </div>
                </a>
              </li>
              <li>
                <a>カフェ
                  <div class="pull-right">
                    <input name="cafe" class="pull-right" type="checkbox" data-toggle="toggle" data-size="mini">
                  </div>
                </a>
              </li>
              <li>
                <a>レストラン
                  <div class="pull-right">
                    <input name="restaurant" class="pull-right" type="checkbox" data-toggle="toggle" data-size="mini">
                  </div>
                </a>
              </li>
              <li>
                <a>ショッピング
                  <div class="pull-right">
                    <input name="shopping" class="pull-right" type="checkbox" data-toggle="toggle" data-size="mini">
                  </div>
                </a>
              </li>
              <li>
                <a>プレイスペース
                  <div class="pull-right">
                    <input name="play_space" class="pull-right" type="checkbox" data-toggle="toggle" data-size="mini">
                  </div>
                </a>
              </li>
               <li>
                <a>授乳スペース
                  <div class="pull-right">
                    <input name="nursing_room" class="pull-right" type="checkbox" data-toggle="toggle" data-size="mini">
                  </div>
                </a>
              </li>
              <li>
                <a>近隣に観光スポット
                  <div class="pull-right">
                    <input name="sightseeing" class="pull-right" type="checkbox" data-toggle="toggle" data-size="mini">
                  </div>
                </a>
              </li>
            </ul>
        </li>

        <div class="bg-primary sidebar-form">
          <button type="submit" id="spot_search_button" class="btn-primary form-control">
            絞り込み
            <i class="fa fa-search pull-right" style="padding-top: 3px;"></i>
          </button>
        </div>
      </ul>
    </form>
  </section>
</aside>